{% extends 'MegacodersAdminBundle::standard_layout.html.twig' %}

{% block body_attributes %}class="sonata-bc skin-black fixed sidebar-collapse"{% endblock %}

{% block sonata_nav %}
    <nav class="navbar navbar-static-top" role="navigation"></nav>
{% endblock %}

{% block sonata_left_side %}{% endblock %}

{% block sonata_page_content %}
    {{ include('FOSUserBundle:Security:login_content.html.twig') }}
{% endblock %}
