{% if admin.isGranted('EDIT', object) %}
    <a href="{{ admin.generateObjectUrl('clone', object) }}"
       class="btn btn-sm btn-default clone_link"
       title="{{ 'admin.actions.clone'|trans }}">
        <i class="fa fa-clone" aria-hidden="true"></i>
        {{ 'admin.actions.clone'|trans }}
    </a>
{% endif %}
