{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@MegacodersAdminBundle/Resources/assets/scss/admin.scss' filter="scssphp" output="bundles/megacodersadmin/css/admin-theme.css"%}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
            {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title|trans }}">
            {% endif %}
            {% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <span>{{ sonata_admin.adminPool.title|trans }}</span>
            {% endif %}
        </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_top_nav_menu_add_block %}{% endblock %}

{% block sonata_top_nav_menu_user_block %}
    {% if app.user %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li class="dropdown-header">{{ app.user|default(app.user.username) }}</li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{{ url('admin_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                </li>
            </ul>
        </li>
    {% endif %}
{% endblock %}

{% block side_bar_after_nav %}{% endblock %}

{% block sonata_breadcrumb %}
    <div class="hidden-xs">
        {% if _breadcrumb is not empty or action is defined %}
            <ol class="nav navbar-top-links breadcrumb">
                {% if _breadcrumb is empty %}
                    {% if action is defined %}
                        {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                            {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                            {%- set label = menu.label -%}
                            {%- if translation_domain is not same as(false) -%}
                                {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                            {%- endif -%}

                            {% if not loop.last  %}
                                <li>
                                    {% if menu.uri is not empty %}
                                        <a href="{{ menu.uri }}">
                                            {% if menu.extra('safe_label', true) %}
                                                {{- label|trans|raw -}}
                                            {% else %}
                                                {{- label|trans -}}
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        {{ label }}
                                    {% endif %}
                                </li>
                            {% else %}
                                <li class="active"><span>{{ label|truncate(80) }}</span></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {{ _breadcrumb|raw }}
                {% endif %}
            </ol>
        {% endif %}
    </div>
{% endblock sonata_breadcrumb %}

{% block tab_menu_navbar_header %}{% endblock %}
