{% extends 'SonataAdminBundle:Core:tab_menu_template.html.twig' %}

{% block label %}
    {{-
    item.label|trans(
    item.getExtra('translation_params', {}),
    item.getExtra(
    'translation_domain',
    item.getParent() ? item.getParent().getExtra('translation_domain') : null
    )
    )
    -}}
    {% set hint = item.getExtra('hint') %}
    {% if hint is not empty %}<br><i class="text-muted">{{ hint }}</i>{% endif %}
{% endblock %}
