/**
 * Admin login form.
 */
.admin-login-form {
    margin: 120px auto;
    max-width: 320px;

    .checkbox {
        margin-bottom: 10px;

        label {
            font-weight: normal;
        }
    }

    .form-control {
        position: relative;
        height: auto;
        padding: 10px 16px;
        font-size: 16px;

        &:focus {
            z-index: 2;
        }
    }

    input[type="text"] {
        margin-bottom: -1px;
    }

    input[type="password"] {
        margin-bottom: 10px;
    }
}
