/**
 * Fix dropdown user menu.
 */
.fixed .main-header {
  z-index: 1600;
}

/**
 * Admin header.
 */
$sidebarWidth: 250px;

.skin-black .main-header {
  & > .logo {
    width: $sidebarWidth;
    background: #222d32;
    color: #e2e2e2;
    border-right: none;
    &:hover {
      background: #222d32;
    }

    img {
      max-width: 100%;
    }
  }
}

/**
 * Admin sidebar.
 */
.main-header > .navbar {
  margin-left: $sidebarWidth;
}

.main-sidebar,
.left-side {
  width: $sidebarWidth;
}

.content-wrapper,
.right-side,
.main-footer {
  margin-left: $sidebarWidth;
}

.control-sidebar-bg,
.control-sidebar {
  right: -$sidebarWidth;
  width: $sidebarWidth;
}

@media (max-width:767px) {
  .main-header .navbar {
    margin: 0
  }

  .main-sidebar,
  .left-side {
    -webkit-transform: translate(-$sidebarWidth, 0);
    -ms-transform: translate(-$sidebarWidth, 0);
    -o-transform: translate(-$sidebarWidth, 0);
    transform: translate(-$sidebarWidth, 0)
  }

  .sidebar-open .content-wrapper,
  .sidebar-open .right-side,
  .sidebar-open .main-footer {
    -webkit-transform: translate(230px, 0);
    -ms-transform: translate(230px, 0);
    -o-transform: translate(230px, 0);
    transform: translate(230px, 0)
  }

  .content-wrapper,
  .right-side,
  .main-footer {
    margin-left: 0
  }
}

@media (min-width:768px) {
  .control-sidebar-open .content-wrapper,
  .control-sidebar-open .right-side,
  .control-sidebar-open .main-footer {
    margin-right: $sidebarWidth
  }

  .sidebar-collapse .main-sidebar,
  .sidebar-collapse .left-side {
    -webkit-transform: translate(-$sidebarWidth, 0);
    -ms-transform: translate(-$sidebarWidth, 0);
    -o-transform: translate(-$sidebarWidth, 0);
    transform: translate(-$sidebarWidth, 0)
  }

  .sidebar-collapse .content-wrapper,
  .sidebar-collapse .right-side,
  .sidebar-collapse .main-footer {
    margin-left: 0
  }
}
