.sonata-ba-view-container:nth-child(2n) {
  td, th {
    background-color: inherit;
  }

  > td, th {
    background-color: #f9f9f9;
  }

  &:hover {
    td, th {
      background-color: inherit;
    }

    > td, th {
      background-color: #f7f7f7;
    }
  }
}
