/**
 * Uploaded image field type.
 */
.uploaded-file-field {
  .uploaded-file-field-clear {
    margin-left: 1em;
  }

  .uploaded-file-field-url {
    margin-bottom: 15px;
  }

  .form-group {
    margin-bottom: 0;

    .input-group {
      width: 100%;
    }

    input[type="file"] {
      height: auto;
    }
  }
}

.uploaded-image-field img {
  max-width: 100%;
}
