.admin-tree {
  padding: 15px;

  .admin-tree-item {
    padding: 5px;

    &:hover {
      background: #f7f7f7;
    }

    .admin-tree-item-batch {
      margin-top: 5px;

      .icheckbox_square-blue {
        background-color: #fff;
      }
    }

    .admin-tree-item-inner {
      &.padding-top-10 {
        padding-top: 10px;
      }

      .admin-tree-item-inner_url {
        position: relative;

        .link-arrow {
          position: absolute;
          left: -1em;
        }
      }
    }

    .admin-tree-item-actions {
      padding-top: 5px;

      .btn-group {
        white-space: nowrap;
        font-size: 0;

        & > .btn {
          float: none;
        }
      }
    }
  }

  .box-footer {
    margin-top: 15px;
    padding: 10px 5px 0;
  }
}
