/**
 * Checkbox list.
 */
ul.checkbox-list li label {
    display: block;
    position: relative;
    margin-left: 0;
    padding-left: 30px;
    font-weight: normal;

    .icheckbox_square-blue {
        position: absolute;
        top: 3px;
        left: 3px;
    }
}
