.cursor-pointer {
    cursor: pointer;
}

.cursor-arrow {
    cursor: default;
}

.form-control-bordered {
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;

    &.active {
        border-color: #3c8dbc;
    }

    i {
        line-height: 1.42857143;
    }
}
