/**
 * Sonata admin lists.
 */
.sonata-ba-show-many-to-many,
.sonata-ba-show-one-to-many {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sonata-ba-show-one-to-many.image-list li {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 260px;
  margin: 0 15px 15px 0;
  vertical-align: top;

  span {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    padding: 8px 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
  }

  &:hover span {
    opacity: 1;
  }
}

.sonata-ba-list-field .icheckbox_square-blue {
  background-color: #fff;
}

/**
 * Action buttons on one line.
 */
.sonata-ba-list-field .btn-group {
  white-space: nowrap;
  font-size: 0;

  & > .btn {
    float: none;
  }
}
