{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block no_result_content %}
    <h4>{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</h4>

    {% if not app.request.xmlHttpRequest %}
        <p>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</p>
    {% endif %}
{% endblock %}
