{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{%- block widget_attributes -%}
    {% if type is defined and type == 'file' %}
        {% set required = false %}
    {% endif %}
    {{ parent() }}
{%- endblock widget_attributes -%}

{% block uploaded_file_widget -%}
    <div class="uploaded-file-field">
        {% if public_url %}
            <script>
                (function() {
                    $("body").on("click", "#{{ id }}-clear", function() {
                        var $container = $(this).closest(".uploaded-file-field");

                        $(".uploaded-file-field-url", $container).remove();
                        $("#{{ id }}_fileName").val("");

                        return false;
                    });
                })();
            </script>

            <div class="uploaded-file-field-url">
                <span>{{ public_url }}</span>

                {% if not disabled %}
                    <a href="#clear" id="{{ id }}-clear" class="fa fa-close uploaded-file-field-clear"></a>
                {% endif %}
            </div>
        {% endif %}

        {{ block('form_widget_compound') -}}
    </div>
{%- endblock %}

{% block uploaded_image_widget -%}
    <div class="row uploaded-image-field">
        {% if public_url %}
            <script>
                (function() {
                    $("body").on("click", "#{{ id }}-clear", function() {
                        var $container = $(this).closest(".uploaded-image-field");

                        $(".col-md-3", $container).remove();
                        $(".col-md-3", $container).addClass("col-md-12").removeClass("col-md-9");
                    });
                })();
            </script>
            <div class="col-md-3">
                <img src="{{ web_image(public_url).resize(250, 250) }}" class="img-thumbnail"/>
            </div>
        {% endif %}

        <div class="col-md-{{ public_url ? '9' : '12' }}">
            {{ block('uploaded_file_widget') }}
        </div>
    </div>
{%- endblock %}

{% block uploaded_svg_widget -%}
    <div class="row uploaded-svg-field">
        {% if public_url %}
            <script>
                (function() {
                    $("body").on("click", "#{{ id }}-clear", function() {
                        var $container = $(this).closest(".uploaded-svg-field");

                        $(".col-md-3", $container).remove();
                        $(".col-md-3", $container).addClass("col-md-12").removeClass("col-md-9");

                        return false;
                    });
                })();
            </script>
            <div class="col-md-3">
                <img src="{{ public_url }}" class="img-thumbnail"/>
            </div>
        {% endif %}

        <div class="col-md-{{ public_url ? '9' : '12' }}">
            {{ block('uploaded_file_widget') }}
        </div>

    </div>
{%- endblock %}


{% block readonly_widget -%}
    <p class="form-control-static">{{ value }}</p>
{%- endblock %}

{% block readonly_datetime_widget -%}
    <p class="form-control-static">{{ value }}</p>
{%- endblock %}

{% block readonly_image_widget -%}
    <p class="form-control-static">
        <img src="{{ value }}" width="{{ width }}" height="{{ height }}" class="img-thumbnail"/>
    </p>

    {% if downloadable %}
        <a href="{{ value }}" target="_blank">
            <i class="fa fa-download"></i>
            {{ 'Download'|trans }}
        </a>
    {% endif %}
{%- endblock %}

{% block readonly_entity_widget -%}
    <p class="form-control-static">
        {% for choice in choices %}
            {% if choice is selectedchoice(value) %}
                {% set label = choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) %}

                {% if as_link and admin %}
                    <a href="{{ admin.generateUrl(admin_action, {id: choice.value}) }}">{{ label }}</a>
                {% else %}
                    {{ label }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </p>
{%- endblock %}